.activeText {
    color: #00cccc;
}

.inActiveText {
    color: #000000;
}

.title {
    font-size: 1.8rem;
    font-weight: bold;
}

.subTitle {
    color: #9f9c9c;
    font-size: 1.4rem;
}
.caption {
    color: #918f8f;
    font-size: 1rem;
}
