.breadcrumbs {
    display: flex;
    align-items: center;
    gap: 1rem;
    .text {
        color: var(--text-primary);
        user-select: none;
    }
    .activeText {
        font-weight: 700;
        color: var(--dark);
    }
}
