.breadcrumbs {
    display: flex;
    align-items: center;
    gap: 1rem;
    .text {
        color: #918f8f;
        user-select: none;
    }
    .activeText {
        font-weight: 700;
        color: #000000;
    }
}
