@use "./functions" as *;

$themes: (
    light: (
        color-primary: #00cccc,
        color-secondary: #17212a,
        bg-color: #ffffff,
        text-primary: #918f8f,
        sidebar-border: #dedede,
        sidebar-list-bg: #f3f3f3,
        dark: #000000,
        light: #ffffff,
        danger: #f7245b,
        success: #19ce99,
        payment-card-shadow: #e0e0e0,
    ),
    dark: (
        color-primary: #00cccc,
        color-secondary: #17212a,
        bg-color: #ffffff,
        text-primary: #918f8f,
        sidebar-border: #dedede,
        sidebar-list-bg: #f3f3f3,
        dark: #000000,
        light: #ffffff,
        danger: #f7245b,
        success: #19ce99,
        payment-card-shadow: #e0e0e0,
    ),
);

// Create css variable
@each $name, $map in $themes {
    .theme-#{$name} {
        @each $key, $value in $map {
            --#{$key}: #{$value};
        }
    }
}

// export colors for JS
:export {
    colorPrimaryLight: getLightThemeColor($themes, color-primary);
    colorPrimaryDark: getDarkThemeColor($themes, color-primary);

    colorSecondaryLight: getLightThemeColor($themes, color-secondary);
    colorSecondaryDark: getDarkThemeColor($themes, color-secondary);

    bgColorLight: getLightThemeColor($themes, bg-color);
    bgColorDark: getDarkThemeColor($themes, bg-color);

    successLight: getLightThemeColor($themes, success);
    successDark: getDarkThemeColor($themes, success);

    errorLight: getLightThemeColor($themes, danger);
    errorDark: getDarkThemeColor($themes, danger);
}
