.activeLink {
    .linkContainer {
        background-color: var(--sidebar-list-bg);
        position: relative;
        &::before {
            content: "";
            position: absolute;
            display: block;
            height: 100%;
            width: 3px;
            background-color: var(--color-primary);
            left: 0;
            border-radius: 0 5px 5px 0;
        }

        .linkIcon {
            color: var(--color-primary);
        }
        .linkText {
            color: var(--color-primary);
        }
    }
}

.linkContainer {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 0rem 0.5rem 1rem;
    .linkIcon {
        color: var(--text-primary);
    }

    .linkText {
        font-size: 1rem;
        padding: 0;
        line-height: 0;
        font-weight: 700;
        margin-top: 2px;
        color: var(--text-primary);
        text-transform: capitalize;
    }
}
